.Nodata {
	display: flex;
	flex-direction: row;
	flex: 1;
	min-height: 300px;
	height: calc(100vh - 245px);
	justify-content: center;
	align-items: center;
}
.Nodata .Nodatabox {
	padding: 20px;
	font-size: 16px !important;
	color: '#333';
	font-weight: 600;
}
