.Recent {
	display: flex;
	flex-direction: row;
	flex: 1;
	height: calc(100vh - 145px);
	overflow-x: hidden;
	overflow-y: scroll;
}
.Recent ul {
	list-style: none;
	margin: 10px 0px;
	padding: 0px;
}
.Recent li {
	padding: 10px;
	margin: 0px;
	cursor: pointer;
}
.Recent li:hover {
	background-color: #eaeaea;
}
