.Tab {
	overflow: hidden;
	max-height: calc(100vh - 105px);
}
.Tab .Tabbar {
	border-bottom: 1px #eaeaea solid;
}
.Tab .Tabbar ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	align-items: center;
}
.Tab .Tabbar ul li {
	list-style: none;
	min-width: 30px;
	margin: 0px 10px;
	padding: 10px;
	outline: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
	font-weight: 500;
	border-bottom: 2px transparent solid;
	color: #4d4d44;
}
.Tab .Tabbar ul li.active {
	color: #1890ff;
	border-bottom: 2px #1890ff solid;
}
.Tab .Content {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	height: calc(100vh - 145px);
	position: relative;
}
.Tab .Content.active {
	display: block;
}
